<div class="app-container">
  {{> sidebar }}
  <div class="detail-container">
    <h1>{{title}}</h1>
    <h2>{{category.name}}</h2>
    {{#if category_board}}
    <ul>
      {{#each category_board}}
      <li>
        <a href={{this.url}}>{{this.name}}</a>
        <p>{{this.description}}</p>
        <p>Number in stock: {{this.numInStock}}</p>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>This category has no boards.</p>
    {{/if}}

    <p><a href={{category.url_del}}>Delete category</a></p>
  </div>
</div>