<div class="app-container">
  {{> sidebar }}
  <div class="detail-container">
    <h1>{{title}}</h1>
    {{#if category_list}}
    <ul>
      {{#each category_list}}
      <li>
        <a href={{this.url}}>{{this.name}}</a>
        <p>{{this.description}}</p>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p>No category!</p>
    {{/if}}
  </div>
</div>